# Acquire

In [7]:
# imports
import pandas as pd
import numpy as np

import opendatasets as od
import os

In [7]:
od.download('https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset?select=healthcare-dataset-stroke-data.csv')

Skipping, found downloaded files in "./stroke-prediction-dataset" (use force=True to force download)

In [9]:
# gettind data
df = pd.read_csv('stroke-prediction-dataset/healthcare-dataset-stroke-data.csv')

In [11]:
# getting the head
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [5]:
# function
def get_data_csv():
    '''
    Argument: No arguments required
    Note: kaggle api username and key are required to download the data
    Actions: 
        1. Checks for the existence of the csv
            a. if present:
                i. reads the csv from the current working directory
            b. if not present:
                i. downloads csv from kaggle api
    Return: dataframe
    Modules:
        1. import pandas as pd
        2. import os
        3. import opendatasets as od
    '''
    # a variable to hold the xpected or future file name
    filename = 'stroke-prediction-dataset/healthcare-dataset-stroke-data.csv'
    
    # if the file is present in the directory 
    if os.path.isfile(filename):
      
        # read the csv and assign it to the variable df
        df = pd.read_csv(filename)
        
        # return the dataframe and exit the funtion
        return df
    
    # if the file is not in the current working directory,
    else:
        
        # url needed to read from a csv
        url = 'https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset?select=healthcare-dataset-stroke-data.csv'
        
        # downloads the csv from kaggle after api key is entered
        od.download(url)
        
        # reads csv from url using pandas function
        df = pd.read_csv(filename)
        
        # returns the dataframe
        return df

#### Test the function

In [1]:
from wrangle import get_data_csv

In [3]:
get_data_csv()

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: aaronmvmoore
Your Kaggle Key: ········
Downloading stroke-prediction-dataset.zip to ./stroke-prediction-dataset

100%|███████████████████████████████████████| 67.4k/67.4k [00:00<00:00, 949kB/s]

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

# Prepare

In [14]:
# doing the initial inspection

df.shape

(5110, 12)